<!DOCTYPE html>
<html lang="en" dir="ltr">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  <head>
    <meta charset="utf-8">
  </head>
  
  <body>
  <section>
    <img src="/static/css/lg.png" style="width:100%; margin-bottom:2.5em">
  </section>

  <section class="w3-container w3-center" style="width:100%">
    <h4 class="w3-wide">SOME QUESTIONS TO CONSIDER:</h2>
    
       <p>{{question}}</p>
    
</section>

<script src="/public/script.js" type="text/javascript"></script>
<script type="text/javascript">
    widget.settings({someParam: true});
</script>
</body>

</html>