<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>

<!-- Picutre header -->
<section>
    <img src="/static/css/lang.png" style="width:100%; margin-bottom:2.5em">
</section>

<section class="w3-container w3-center" style="width:100%">
    <h2 class="w3-wide">READY TO JOIN A ROUND OF SPEED-LEARNING?</h2>
    
</section>
<body>
    <p>{{question}}</p>
</body>
<style>
    .button{
        border:6px;
        color:aliceblue;
        padding:100px;
        text-align: center;
        display: block;
        font-size: 30px;
        text-decoration-color: black;
        cursor: pointer;
    }
.button1 {background-color: greenyellow;}
</style>
<section>
    <button class="button button1">LET'S GO!</button>
</section>

</body>
</html>